In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [2]:
warnings.filterwarnings('ignore')
%matplotlib inline

In [3]:
df = pd.read_csv('netflix_titles.csv')

In [4]:
df.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [6]:
df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [7]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [8]:
df['rating'].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', nan,
       'TV-Y7-FV', 'UR'], dtype=object)

In [9]:
df1 = df

In [10]:
df1.head(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."

In [11]:
valid_rating = ['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17','NR', 'TV-Y7-FV', 'UR']

# Replace invalid entries with None
df['rating'] = df['rating'].apply(lambda x: x if x in valid_rating else None )
df['rating'].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', None, 'NR', 'TV-Y7-FV', 'UR'], dtype=object)

In [12]:
#replace None values with mode
mode_value = df1[df1['rating'].notna()]['rating'].mode()[0]
df1['rating'] = df1['rating'].fillna(mode_value)

In [13]:
df1.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             0
duration           3
listed_in          0
description        0
dtype: int64

In [14]:
#replace director, cast and country null values with unknown
df1['director'] = df1['director'].fillna('unknown')
df1['cast'] = df1['cast'].fillna('unknown')
df1['country'] = df1['country'].fillna('unknown')
df1.isnull().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added      10
release_year     0
rating           0
duration         3
listed_in        0
description      0
dtype: int64

In [15]:
df1['date_added'] = df1['date_added'].str.strip()

In [16]:
df1['date_added'] = pd.to_datetime(df1['date_added'], format='mixed', errors='coerce')
df1['date_added'] = df1['date_added'].dt.date

In [17]:
df1['date_added'] = pd.to_datetime(df1['date_added'], errors='coerce')

In [18]:
df1['date_added']

0      2021-09-25
1      2021-09-24
2      2021-09-24
3      2021-09-24
4      2021-09-24
          ...
8802   2019-11-20
8803   2019-07-01
8804   2019-11-01
8805   2020-01-11
8806   2019-03-02
Name: date_added, Length: 8807, dtype: datetime64[ns]

In [19]:
df1['date_added'].isnull().sum()

np.int64(10)

In [20]:
month_map = {
    1: 'January', 2: 'February', 3: 'March', 4: 'April',
    5: 'May', 6: 'June', 7: 'July', 8: 'August',
    9: 'September', 10: 'October', 11: 'November', 12: 'December'
}

df1['year'] = df1['date_added'].dt.year
df1['month'] = df1['date_added'].dt.month
df1['month_name'] = df1['month'].map(month_map)
df1['day'] = df1['date_added'].dt.day_name()

In [21]:
df1['year'].fillna(0, inplace=True)
df1['month'].fillna(0, inplace=True)
df1['month_name'].fillna(0, inplace=True)
df1['day'].fillna(0, inplace=True)

In [22]:
df1['year'] = df1['year'].astype(int)
df1['month'] = df1['month'].astype(int)

In [23]:
df1.isnull().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added      10
release_year     0
rating           0
duration         3
listed_in        0
description      0
year             0
month            0
month_name       0
day              0
dtype: int64

In [24]:
df1.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,year,month,month_name,day
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,unknown,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",2021,9,September,Saturday
1,s2,TV Show,Blood & Water,unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2021,9,September,Friday

In [25]:
df1 = df1.drop('date_added', axis=1)

In [26]:
df1.head(2)

,show_id,type,title,director,cast,country,release_year,rating,duration,listed_in,description,year,month,month_name,day
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,unknown,United States,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",2021,9,September,Saturday
1,s2,TV Show,Blood & Water,unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2021,9,September,Friday

In [27]:
df1.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
year             int64
month            int64
month_name      object
day             object
dtype: object

In [28]:
df1.drop('release_year', axis=1, inplace=True)

In [29]:
df1[df1['duration'].isnull()]

,show_id,type,title,director,cast,country,rating,duration,listed_in,description,year,month,month_name,day
5541,s5542,Movie,Louis C.K. 2017,Louis C.K.,Louis C.K.,United States,TV-MA,NaN,Movies,"Louis C.K. muses on religion, eternal love, gi...",2017,4,April,Tuesday
5794,s5795,Movie,Louis C.K.: Hilarious,Louis C.K.,Louis C.K.,United States,TV-MA,NaN,Movies,Emmy-winning comedy writer Louis C.K. brings h...,2016,9,September,Friday
5813,s5814,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,Louis C.K.,United States,TV-MA,NaN,Movies,The comic puts his trademark hilarious/thought...,2016,8,August,Monday

In [30]:
df1.loc[5541, 'duration'] = '74 min'
df1.loc[5794, 'duration'] = '84 min'
df1.loc[5813, 'duration'] = '80 min'

In [31]:
df1['movie_duration(min)'] = df1['duration'].apply(lambda x: x if 'min' in str(x) else np.nan)
df1['no_of_seasons'] = df1['duration'].apply(lambda x: x if 'Season' in str(x) else np.nan)
df1.head(2)

,show_id,type,title,director,cast,country,rating,duration,listed_in,description,year,month,month_name,day,movie_duration(min),no_of_seasons
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,unknown,United States,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",2021,9,September,Saturday,90 min,NaN
1,s2,TV Show,Blood & Water,unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2021,9,September,Friday,NaN,2 Seasons

In [32]:
# For movie_duration(min): Remove ' min' and convert to numeric, then fill NaN with 0
df1['movie_duration(min)'] = df1['movie_duration(min)'].astype(str).str.replace(' min', '', regex=False)
df1['movie_duration(min)'] = pd.to_numeric(df1['movie_duration(min)'], errors='coerce')
df1['movie_duration(min)'] = df1['movie_duration(min)'].fillna(0).astype(int)

# For no_of_seasons: Remove ' Seasons' and convert to numeric, then fill NaN with 0
df1['no_of_seasons'] = df1['no_of_seasons'].astype(str).str.replace(' Seasons', '', regex=False)
df1['no_of_seasons'] = pd.to_numeric(df1['no_of_seasons'], errors='coerce')
df1['no_of_seasons'] = df1['no_of_seasons'].fillna(0).astype(int)

In [33]:
df1.head(2)

,show_id,type,title,director,cast,country,rating,duration,listed_in,description,year,month,month_name,day,movie_duration(min),no_of_seasons
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,unknown,United States,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",2021,9,September,Saturday,90,0
1,s2,TV Show,Blood & Water,unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2021,9,September,Friday,0,2

In [34]:
df1['no_of_seasons'].unique()

array([ 0,  2,  9,  4,  5,  3,  6,  7, 10,  8, 17, 13, 15, 12, 11])

In [35]:
df1['movie_duration(min)'].unique()

array([ 90,   0,  91, 125, 104, 127,  67,  94, 161,  61, 166, 147, 103,
        97, 106, 111, 110, 105,  96, 124, 116,  98,  23, 115, 122,  99,
        88, 100, 102,  93,  95,  85,  83, 113,  13, 182,  48, 145,  87,
        92,  80, 117, 128, 119, 143, 114, 118, 108,  63, 121, 142, 154,
       120,  82, 109, 101,  86, 229,  76,  89, 156, 112, 107, 129, 135,
       136, 165, 150, 133,  70,  84, 140,  78,  64,  59, 139,  69, 148,
       189, 141, 130, 138,  81, 132, 123,  65,  68,  66,  62,  74, 131,
        39,  46,  38, 126, 155, 159, 137,  12, 273,  36,  34,  77,  60,
        49,  58,  72, 204, 212,  25,  73,  29,  47,  32,  35,  71, 149,
        33,  15,  54, 224, 162,  37,  75,  79,  55, 158, 164, 173, 181,
       185,  21,  24,  51, 151,  42,  22, 134, 177,  52,  14,  53,   8,
        57,  28,  50,   9,  26,  45, 171,  27,  44, 146,  20, 157,  17,
       203,  41,  30, 194, 233, 237, 230, 195, 253, 152, 190, 160, 208,
       180, 144,   5, 174, 170, 192, 209, 187, 172,  16, 186,  11, 193,
       176,  56, 169,  40,  10,   3, 168, 312, 153, 214,  31, 163,  19,
       179,  43, 200, 196, 167, 178, 228,  18, 205, 201, 191])

In [36]:
df1.drop('duration', axis=1, inplace=True)

In [37]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   show_id              8807 non-null   object
 1   type                 8807 non-null   object
 2   title                8807 non-null   object
 3   director             8807 non-null   object
 4   cast                 8807 non-null   object
 5   country              8807 non-null   object
 6   rating               8807 non-null   object
 7   listed_in            8807 non-null   object
 8   description          8807 non-null   object
 9   year                 8807 non-null   int64
 10  month                8807 non-null   int64
 11  month_name           8807 non-null   object
 12  day                  8807 non-null   object
 13  movie_duration(min)  8807 non-null   int64
 14  no_of_seasons        8807 non-null   int64
dtypes: int64(4), object(11)
memory usage: 1.0+ MB

In [38]:
df1.isnull().sum()

show_id                0
type                   0
title                  0
director               0
cast                   0
country                0
rating                 0
listed_in              0
description            0
year                   0
month                  0
month_name             0
day                    0
movie_duration(min)    0
no_of_seasons          0
dtype: int64

In [39]:
df1.rename(columns={
    'show_id' : 'Show Id',
    'type' : 'Type',
    'title' : 'Title',
    'director' : 'Director',
    'cast' : 'Cast',
    'country' : 'Country',
    'rating' : 'Rating',
    'listed_in' : 'Genre',
    'description' : 'Description',
    'year' : 'Year',
    'month' :'Month',
    'month_name' : 'Month Name',
    'day' : 'Day',
    'movie_duration(min)' : 'Movie Duration(min)',
    'no_of_seasons ' : 'No Of Seasons'
},inplace=True)

In [40]:
df1.head(2)

,Show Id,Type,Title,Director,Cast,Country,Rating,Genre,Description,Year,Month,Month Name,Day,Movie Duration(min),no_of_seasons
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,unknown,United States,PG-13,Documentaries,"As her father nears the end of his life, filmm...",2021,9,September,Saturday,90,0
1,s2,TV Show,Blood & Water,unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,TV-MA,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2021,9,September,Friday,0,2

In [41]:
df1.to_csv('Cleaned Data.csv', index=False)

In [42]:
df1.columns

Index(['Show Id', 'Type', 'Title', 'Director', 'Cast', 'Country', 'Rating',
       'Genre', 'Description', 'Year', 'Month', 'Month Name', 'Day',
       'Movie Duration(min)', 'no_of_seasons'],
      dtype='object')

#### Create a Dataframe for Building a Model

In [43]:
df_p = df1

In [44]:
df_p.head(2)

,Show Id,Type,Title,Director,Cast,Country,Rating,Genre,Description,Year,Month,Month Name,Day,Movie Duration(min),no_of_seasons
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,unknown,United States,PG-13,Documentaries,"As her father nears the end of his life, filmm...",2021,9,September,Saturday,90,0
1,s2,TV Show,Blood & Water,unknown,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,TV-MA,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2021,9,September,Friday,0,2

In [45]:
df_p = df_p[df_p['Year'] != 0]

In [46]:
# aggregate total releases per year and type and then creates two new columns named 'Movie' and 'TV Show'
df_p = df_p.groupby(['Year', 'Type']).size().unstack(fill_value=0).reset_index()

In [47]:
#Rename Columns
df_p.rename(columns={'Movie': 'num_movies', 'TV Show': 'num_tv_shows'}, inplace=True)
df_p.head()

Type  Year  num_movies  num_tv_shows
0     2008           1             1
1     2009           2             0
2     2010           1             0
3     2011          13             0
4     2012           3             0

In [48]:
# Add total count
df_p['total_releases'] = df_p['num_movies'] + df_p['num_tv_shows']
df_p.head()

Type  Year  num_movies  num_tv_shows  total_releases
0     2008           1             1               2
1     2009           2             0               2
2     2010           1             0               1
3     2011          13             0              13
4     2012           3             0               3

In [51]:
# Genre-wise 
df1['main_genre'] = df1['Genre'].str.split(',').str[0]
df_genre = df1.groupby(['Year', 'main_genre']).size().unstack(fill_value=0).reset_index()

In [52]:
# Merge with yearly data
df_final = pd.merge(df_p, df_genre, on='Year', how='left')

In [54]:
df_final.head()

,Year,num_movies,num_tv_shows,total_releases,Action & Adventure,Anime Features,Anime Series,British TV Shows,Children & Family Movies,Classic & Cult TV,...,Sports Movies,Stand-Up Comedy,Stand-Up Comedy & Talk Shows,TV Action & Adventure,TV Comedies,TV Dramas,TV Horror,TV Sci-Fi & Fantasy,TV Shows,Thrillers
0,2008,1,1,2,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,2009,2,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2010,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2011,13,0,13,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2012,3,0,3,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
# Save cleaned data
df_final.to_csv('cleaned_netflix_data.csv', index=False)